/* div, body { */
/*   display: flex; */
/*   flex-direction: column; */
/*   justify-content: space-between; */
/* } */


.flex-container {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.fifty {
  width: 50%;
}

.flex-item {
  background-color: #9cd2ff;  
  width: 150px;
  height: 150px;
  nmargin: 0px;
  padding: 0px;
  line-height: 150px;  
  font-size: 3em;
  text-align: center;
}

.flex-item-other-1 {
  background-color: pink;
}

.flex-item-other-2 {
  background-color: green;
}

.flex-item-other-3 {
  width: 100px;
  height: 100px;
  background-color: tomato;
}

.flex-grow-1 {
  flex-grow: 1;
}

.border-children > * {
   border: 1px solid black;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-shrink-3 {
  flex-shrink: 10;
}

.wrap {
  flex-wrap: wrap;
}

.basis-0 {
  flex-basis: 0;
}

.center {
  justify-content: space-around;  
}




