html {
  background-color: #f9f9f9;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.title {
  font-family: 'Playfair Display', serif;
}

.btn {
  padding: 8px;
  border: 1px solid #A9EAFF;
  background-color: #F7FDFF;
  border-radius: 6px;
  color: #454545;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: .75;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.text-container {

}

.image-container {
  max-width: 500px;
  width: 100%;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 3px;
}



.bullets {
  padding-left: 32px;
}

.fa-github {
  font-size: 24px;
  color: black;
}

.blurb-container {
  text-align: center;
  margin: 1.2rem;
}

.blurb-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
