body {
  font-family: 'Fira Sans', sans-serif;
}

.title {
  font-family: 'Playfair Display', serif;
}

.btn {
  padding: 8px;
  border: 1px solid #A9EAFF;
  background-color: #F7FDFF;
  border-radius: 6px;
  color: #454545;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: .75;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.text-container {

}

.image-container {
  max-width: 400px;
  max-height: 266px;
}

.screenshot {
  box-shadow: 2px 2px 5px #888888;
}

.bullets {
  padding-left: 32px;
}

.fa-github {
  font-size: 24px;
  color: black;
}
