/* Colors */
$highlight: #EBEBEB;
$potential-highlight: #f5f5f5;

$icon-color: #434343;

$border-radius: 3px;

$bright: #f99063;

$border: #BDBDBD;

/* SPACING */
$spacing-none: 0;
$spacing-extra-small: .25rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra-large: 4rem;
$spacing-extra-extra-large: 8rem;
$spacing-extra-extra-extra-large: 16rem;

/* TYPE SCALE */
$f1: 3rem;
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: .875rem;
$f7: .75rem;

/* Utils */
.bright-background {
  background-color: $bright;
}

.c-pointer {
  cursor: pointer;
}
.c-default {
  cursor: default;
}

.c-grab {
  cursor: -webkit-grab;
}

.c-grabbing {
  cursor: -webkit-grabbing !important;
}

.hidden {
  visibility: hidden !important;
}

.click-through {
  pointer-events: none;
}

.pointer-auto {
  pointer-events: auto;
}

body * {
  font-family: 'Fira Sans', sans-serif;
  /* Make things not selectable */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.highlightBottom {
  border-bottom-width: 1px;
  border-style: solid;
}

.sibling {
  border-color: #42f4a4 !important;
}

.child {
  border-color: pink !important;
}

.highlightBottom.before {
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-color: #42f4a4 !important;
}

.bg-lightGray {
  background-color: lightGray;
}

.sidebar {
  background-color: white;
  border-right: 1px solid $border;
  border-left: 1px solid $border;

  &.left {
    box-shadow: 1px 0px 5px #cacaca;
  }

  &.right {
    box-shadow: -1px 0px 5px #cacaca;
  }
}

i {
  color: $icon-color;
}


body {
  background-color: #f4f4f4;
}

/* COMPONENTS */
.horizontal-select {
  border-bottom: 1px solid $border;
  background-color: white;

  &.border {
    border: 1px solid $border;
    border-radius: 3px;
  }

  .icon {
    font-size: 25px; /* looks right */
  }

  .img {
    height: 20px;
  }
}

.highlighted {
  background-color: $highlight;
}

.componentBlock {
  /* looks right */
}

.draggableShadow {
  box-shadow: 1px 1px 3px grey;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.active-component {
  border: 3px solid $bright !important;
}

.hovered-component {
  border: 3px solid $potential-highlight !important;
}

.treeItem.isHovered:not(.root) {
  background-color: $potential-highlight;
}

.treeItem.isActive {
  background-color: $highlight;
}

.expandable-element {
  /* height: 0px; */
  /* -webkit-transition: 500ms; */
  /* transition: height 500ms; */
}

.expandable-element.expanded {
  height: 30px !important;
  margin: 5px !important;
}

/* View Modes */
.static-view-border * {
  outline: 1px solid gray;
}

.list {
  position: relative;
}

.editSymbol {
  position: absolute;
  right: 8px;
}

.cartoon-button {
  &.medium {
    font-size: $f3;
    padding: $spacing-small $spacing-medium;
  }

  &.large {

  }

  &.disabled {
    opacity: .45;
  }

  font-size: $f6;
  padding: $spacing-extra-small $spacing-small;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  background: #F2F2F2;
  box-shadow: 0 3px #B3B3B3;
  border: 1px solid #C3C3C3;
  cursor: pointer;
}

.cartoon-button:not(.disabled):hover {
  top: 1px;
  box-shadow: 0 2px #B3B3B3;
}

.cartoon-button:not(.disabled):active {
  top: 3px;
  box-shadow: 0 0px #B3B3B3;
}

.cartoon-button:focus {
  outline: 0;
}

.page-item.highlighted:hover {
  background-color: $highlight;
}

.page-item:hover {
  background-color: $potential-highlight;
}

.f7 {
  font-size: .75rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.drag-handle {
  outline-width: 0px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 0;
}

.root-component {
  outline: 0px solid gray !important;
}

/* COMPONENTS */

/* Menu */
.component-menu, .autocomplete {
  border: 1px solid $border;
  border-radius: $border-radius;
  box-shadow: 1px 1px 3px $border;
  background-color: white;

  li {
    font-size: $f7;
    border-bottom: 1px solid $border;
    cursor: pointer;
    padding: $spacing-extra-small;
  }

  li:hover {
    opacity: .6;
    background-color: $highlight;
  }

  li:last-child {
    border-bottom: 0px;
  }
}

.autocomplete {
  max-height: 300px;
  overflow: auto;
}

/* TD: combine with modal card */
.card {
  padding: $spacing-large;
  height: 85%;
  background-color: white;
  border-radius: 24px;
  border: 1px solid #888888;
  box-shadow: 1px 1px 5px #888888;
}

.modal-card {
  left: 50%;
  top: 30%;
  position: absolute;
  background: white;
  width: 32rem;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  padding: $spacing-large $spacing-small;
  border-radius: 24px;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.dark-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
}

.asset-icon {
  $image-size: 100px;
  position: relative;
  width: $image-size;
  margin: $spacing-medium;

  img {
    width: $image-size;
    height: $image-size;
  }

  i {
    cursor: pointer;
  }

  .asset-edit-bar {
    $asset-bar-height: 20px;
    position: absolute;
    height: $asset-bar-height;
    top: $image-size - $asset-bar-height;
    opacity: .85;
    background-color: #E4E4E4;
    width: 100%;
  }
}

.editable-text:hover {
  border: 1px solid #f2f2f2;
  opacity: .75;
}

.icon-small {
  width: 10px;
}

.popup-select {
  cursor: pointer;
}

.popup {
  z-index: 1;
  background-color: white;
  border-radius: $border-radius;
  border: 1px solid $border;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%);

  ul {
    font-size: $f5;
    padding: $spacing-small 0px;
  }

  i {
    font-size: 18px;
    margin-right: $spacing-small;
    margin-top: $spacing-small;
  }

  li {
    cursor: pointer;
    padding: $spacing-small/2 $spacing-medium;
  }

  li:not(.highlighted):hover {
    background-color: $potential-highlight;
  }
}

.up-arrow {
  z-index: 2;
  display: inline-block;
  line-height: 0.7;
  text-shadow: 0px -2px 0px $border, 0px -2px 2px $border;
  transform: translateX(-50%) scale(2, 1);
  color: white;
}

.renderer-container {
  background-color: white;
  border: 1px solid $border;
  min-height: 200px;
}

.spacer {
  /*
-webkit-transition: margin-top .5s, border-width .5s;
transition: margin-top .5s, border-width .5s;
 */
}

.hint {
  color: #A2A2A2;
}

.unselected {
  color: #adadad;
}

.state-dropdown {
  width: 6rem;
}

.collapsableArrow {
  display: inline-block;
  -webkit-transition: -webkit-transform .5s;
  &.open {
    -webkit-transform: rotate(90deg);
  }
}

.interactive:hover {
  opacity: 0.7;
}
